.cta {
  margin-top: 11.5rem;
  display: flex;
  width: auto;
  padding: 0 16.45rem;
  height: 8.4rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15rem;
  gap: 3.2rem;

  @media screen and (max-width: 1440px) {
    padding: 0 11.5vw;
  }

  @media screen and (max-width: 868px) {
    padding: 0 4rem;
    margin: 9.6rem 0;
  }
}

.heading {
  font-family: 'Ibarra Real Nova', serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.2rem;
  display: block;
  width: 35rem;
  height: 8.4rem;
  color: var(--color-greyish-dark-blue);
  flex-shrink: 0;
}

.line {
  display: block;
  flex: 0 1 53rem;
  //max-width: 53.4rem;
  height: 1px;
  background-color: var(--color-greyish-dark-blue);
  opacity: 0.15;

  @media screen and (max-width: 868px) {
    width: auto;
  }
}
