.layout {
  max-width: 144rem;
  min-height: 100vh;
  margin: 0 auto;
  //padding: 6.4rem 16.45rem 0;
  padding-top: 6.4rem;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 800px) {
    max-width: 76.8rem;
  }
}
