.layout {
  max-width: 144rem;
  min-height: 100vh;
  margin: 0 auto;
  //padding: 6.4rem 16.45rem 0;
  padding-top: 6.4rem;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 868px) {
    max-width: 76.8rem;
  }

  @media screen and (max-width: 475px) {
    max-width: 37.5rem;
    padding-top: 3.2rem;
  }
}
