.navbar {
  display: flex;
  width: auto;
  padding: 0 16.45rem;
  justify-content: space-between;
  position: relative;

  @media screen and (max-width: 1440px) {
    padding: 0 11.5vw;
  }

  @media screen and (max-width: 868px) {
    padding: 0 4rem;
  }

  @media screen and (max-width: 475px) {
    padding: 0 3.2rem;
  }

  .hamburger {
    display: none;

    @media screen and (max-width: 475px) {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }

  .hamburger_icon {
    width: 2.4rem;
    height: 1.8rem;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 475px) {
      display: none;
    }
  }

  li {
    display: inline-block;
    font-size: 1.2rem;
    font-family: 'Public Sans', sans-serif;
    line-height: 1.4rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--color-greyish-dark-blue);
    margin-left: 4.25rem;

    a:link,
    a:visited {
      text-decoration: none;
      color: var(--color-greyish-dark-blue);
    }

    a:link.active,
    a:visited.active {
      text-decoration: none;
      color: var(--color-cyan);
    }
  }

  .subnav {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 22.3rem;
    height: 18.6rem;
    top: 5.6rem;
    right: 3.2rem;
    background-color: var(--color-greyish-dark-blue);

    a:link,
    a:visited {
      text-decoration: none;
      color: white;
    }
  }
}

.logo {
  fill: var(--color-greyish-dark-blue);
  width: 6rem;
  height: 3.2rem;
}
