.hero {
  max-width: 144rem;
  height: auto;
  margin: 5.4rem auto 15rem;

  padding: 0 16.45rem;

  @media screen and (max-width: 1440px) {
    padding: 0 11.5vw;
  }

  position: relative;
  display: block;
}

.greeting {
  position: absolute;
  width: 44.5rem;
  height: 35.7rem;
  background-color: var(--color-very-light-grey);
  bottom: 0;

  padding-top: 5.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    display: block;
    width: 39rem;
    height: 22rem;
    color: var(--color-greyish-dark-blue);
    font-family: 'Ibarra Real Nova';
    font-weight: 700;
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: -0.446px;
  }
}
