.footer {
  //max-width: 144rem;
  width: auto;
  height: 8rem;
  background-color: var(--color-greyish-dark-blue);
  padding: 0 16.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 868px) {
    padding: 0 4rem;
  }

  @media screen and (max-width: 475px) {
    flex-direction: column;
    height: 35.4rem;
    padding: 5.6rem 0;
    justify-content: space-between;

    .social {
      transform: translateX(-0.725rem);
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;

    @media screen and (max-width: 475px) {
      flex-direction: column;
      height: 10.6rem;
      justify-content: space-between;
      margin-left: auto;
    }
  }

  li {
    display: inline-block;
    font-size: 1.2rem;
    font-family: 'Public Sans', sans-serif;
    line-height: 1.4rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    margin-left: 4.25rem;

    @media screen and (max-width: 475px) {
      margin-left: 0;
    }

    a:link,
    a:visited {
      text-decoration: none;
      color: #fff;
    }
  }
}

.logo {
  fill: #fff;
  width: 6.1rem;
  height: 3.2rem;
  margin-right: 0.55rem;
}

.icon {
  fill: #fff;
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 1.45rem;
}
