.contactme {
  padding: 0 16.45rem;

  @media screen and (max-width: 1440px) {
    padding: 0 11.5vw;
  }

  @media screen and (max-width: 868px) {
    padding: 0 4rem;
  }
}

.top {
  margin-top: 9.4rem;
  display: flex;
  border-top: 1px solid rgba(#33323d, 0.15);
  border-bottom: 1px solid rgba(#33323d, 0.15);
  color: var(--color-greyish-dark-blue);
  padding: 4.8rem 0;

  @media screen and (max-width: 868px) {
    padding: 3.2rem 0;
    flex-direction: column;
  }

  h3 {
    display: flex;
    width: 100%;
    margin-right: auto;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.2rem;
    letter-spacing: -0.357143px;

    @media screen and (max-width: 868px) {
      margin-bottom: 2.4rem;
    }
  }

  p {
    font-family: 'Public Sans', serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3rem;
    opacity: 0.8;
  }
}

.text {
  max-width: 63.5rem;

  @media screen and (max-width: 868px) {
    max-width: 68.9rem;
  }

  .icon {
    fill: var(--color-greyish-dark-blue);
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1.55rem;
    margin-top: 2.62rem;
  }
}

.bottom {
  display: flex;
  padding-top: 4.7rem;
  margin-bottom: 10.9rem;
  color: var(--color-greyish-dark-blue);

  @media screen and (max-width: 868px) {
    flex-direction: column;
    padding-top: 3.2rem;
    margin-bottom: 9.6rem;
  }

  h3 {
    flex-grow: 1;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.2rem;
    letter-spacing: -0.357143px;

    @media screen and (max-width: 868px) {
      margin-bottom: 3.2rem;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    flex: 0 1 63.5rem;

    @media screen and (max-width: 868px) {
      flex: 0 1 42.6rem;
    }

    .form_group {
      display: flex;
      flex-direction: column;
      width: auto;
      position: relative;
    }

    .form_group.danger {
      span {
        display: inline-block;
      }

      input,
      textarea {
        border: 1px solid var(--color-bright-red);
      }

      textarea + span {
        top: 13rem;
      }
    }

    label {
      font-family: 'Public Sans', serif;
      font-weight: 700;
      font-size: 1.3rem;
      line-height: 3rem;
      opacity: 0.8;
      margin-bottom: 0.8rem;
    }

    input {
      height: 4.8rem;
      margin-bottom: 2.4rem;
    }

    textarea {
      resize: none;
      height: 9.6rem;
      margin-bottom: 2.4rem;
    }

    span {
      font-family: 'Public Sans', serif;
      font-style: italic;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.2rem;
      color: var(--color-bright-red);
      margin-bottom: 0.8rem;
      position: absolute;
      top: 8.2rem;
      display: none;
    }

    input,
    textarea {
      border: none;
      background: #ececed;
      outline: none;
      border-radius: 0;
      color: #33323d;
      font-family: 'Public Sans', serif;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 3rem;

      &:focus {
        border: 1px solid var(--color-cyan);
      }

      padding: 0.9rem 1.6rem;

      &::placeholder {
        color: rgba(#33323d, 0.4);
        font-family: 'Public Sans', serif;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 3rem;
      }
    }
  }
}
