:root {
  --color-cyan: #5fb4a2;
  --color-dark-blue: #203a4c;
  --color-greyish-dark-blue: #33323d;

  --color-very-light-grey: #fafafa;
  --color-light-grey: #eaeaeb;
  --color-bright-red: #f43030;

  --font-headings: font-family: 'Ibarra Real Nova', serif;
  --font-body: font-family: 'Public Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px;
}

body {
  min-height: 100vh;
  font-size: inherit;
  background-color: var(--color-very-light-grey);
}
