.preview {
  padding: 0 16.45rem;

  @media screen and (max-width: 1440px) {
    padding: 0 11.5vw;
  }

  display: flex;
  color: var(--color-greyish-dark-blue);

  &:not(:last-child) {
    margin-bottom: 8rem;
  }

  @media screen and (max-width: 868px) {
    height: 41rem;
    padding: 0 4rem;
    gap: 6.9rem;
  }

  @media screen and (max-width: 475px) {
    padding: 0 3.2rem;
    flex-direction: column;
    .image_container {
      order: -1;
    }
    height: 68.8rem;

    gap: 3.2rem;

    &:not(:last-child) {
      margin-bottom: 7.2rem;
    }
  }
}

.image {
  width: 54rem;
  height: auto;
  display: flex;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 868px) {
    width: 33.9rem;
  }

  @media screen and (max-width: 475px) {
    width: auto;
  }
}

.homepage {
  height: auto;
  @media screen and (max-width: 868px) {
    height: 60rem;

    .image {
      width: 28.1rem;
    }
  }

  @media screen and (max-width: 475px) {
    height: 99.5rem;

    .image {
      width: 100%;
    }

    .description {
      height: 61.7rem;

      padding: 3.2rem 0 5.1rem 0;
    }
  }
}

.description {
  width: 35rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-top: 1px solid rgba(#33323d, 0.15);
  border-bottom: 1px solid rgba(#33323d, 0.15);

  @media screen and (max-width: 868px) {
    width: 33.9rem;
    margin: 0;
  }

  @media screen and (max-width: 475px) {
    padding: 2.5rem 0;
    width: auto;
    height: 36.8rem;
    margin: 0;
  }

  a:link,
  a:visited {
    text-decoration: none;
  }

  h2 {
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.2rem;
    letter-spacing: -0.357px;
    margin-bottom: 2.8rem;

    @media screen and (max-width: 475px) {
      margin-bottom: 2.4rem;
    }
  }

  p {
    font-family: 'Public Sans', serif;
    font-size: 1.6rem;
    line-height: 2.76rem;
    opacity: 0.8;
    margin-bottom: 2.4rem;

    @media screen and (max-width: 475px) {
      font-size: 1.6rem;
      line-height: 3rem;
    }
  }
}
